:root {
    --primary: hsl(264, 74%, 30%);
    --light-primary: #0f002410;
    --tertiary: rgb(82, 206, 11);
    --white: #fff;
    --black: #000;
    --indicatorSent: #fca61d25;
    --backdropBg: rgba(0, 0, 0, 0.7);
    --indicatorReceived: #a0f5f14f;
    --pending: rgba(255, 0, 0, 0.164);
    --success:rgba(0, 128, 0, 0.182);
    --font: 900;
    --animate-duration: 500ms;
    --animate-delay: 500ms;
    --animate-repeat: 1;
}

.sentBg {
    background-color: var(--indicatorSent);
}

.sentCol{
    color: #FCA51D;
    font-size: 1.2rem;
}
.receivedCol{
    color:  #055551f3;
    font-size: 1.2rem;
}

.receivedBg {
    background-color: var(--indicatorReceived);
}

.pending{
    background-color: var(--pending);
}
.success{
    background-color: var(--success);
}

.primary__color {
    color: var(--primary);
}

.primary__bg {
    background: var(--primary);
}

.light__primary__bg {
    background: var(--light-primary);
}
.auth__bg__dark {
    background: var(--primary);
    color: var(--white);
}
.auth__bg__outline__dark {
    border: 1px solid grey;
    color: var(--primary);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-weight: 900;
}
.invalid {
    border-bottom: 2px solid red !important;
}
.card__rounded__smooth {
    border-radius: 10px !important;
}
.currency_sel {
    background-color: rgb(240, 240, 240);
}

.currency_select:hover {
    background-color: rgb(240, 240, 240);
}
.send__button {
    border-radius: 10px;
    padding: 0.5rem 1rem;
    border: none;
    background: var(--primary);
    font-weight: 900;
}
.deposit_button {
    border-radius: 10px;
    padding: 0.5rem 0.7rem;
    border: none;
    background: var(--primary);
    font-weight: 900;
}
.withdraw_button {
    border-radius: 10px;
    padding: 0.5rem 0.7rem;
    border: none;
    background:  #081616d9;
    font-weight: 900;
}
.chart__card {
    height: 20px !important;
    width: 40px;
}

.ltc__bcc__chart {
    border-left: 2px solid purple;
}

.info_modal {
    position: fixed;
    top: 54px !important;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.info {
    position: absolute;
    top: 20%;
    right: 35%;
    left: 35%;
    border-radius: 10px;
    /* bottom: 20%; */
}
.btc-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    row-gap: 10px;
    column-gap: 10px;
}

.show {
    display: none !important;
}

.activeBorder,
.activeBorder:hover {
    background: var(--primary) !important;
    color: var(--white);
}

.fa-times {
    position: absolute;
    right: -0.6rem;
    top: -1.5rem;
    font-size: 1em;
    cursor: pointer;
}

@media (max-width: 678px) {
    .info {
        top: 8%;
        right: 5%;
        left: 5%;
        /* bottom: 5%; */
    }
    .info_plus {
        bottom: 5%;
    }
    .hide {
        display: none;
    }
    .show {
        display: flex !important;
    }
}
