:root {
    --primary: #411485;
    --light-primary: #0f002417;
    --secondary: #e1e3e6;
    --tertiary: #000;
    --white: #fff;
    --black: #000;
    --indicator: #ff7900;
    --backdropBg: rgba(0, 0, 0, 0.7);
    --font: 900;
    --animate-duration: 500ms;
    --animate-delay: 500ms;
    --animate-repeat: 1;
}

.primary__color {
    color: var(--primary);
}

.light__primary__bg {
    background: var(--light-primary);
}

.hero__header {
    color: var(--primary);
    line-height: 4.5rem;
}
.hero__header__font {
    font-size: 3.2rem;
    font-weight: 600;
}
.hero__btn {
    background-color: var(--primary);
}

.hero__btn1 {
    border: 2px solid var(--primary);
}

/* Rnage Slider Start*/

.range-slider {
    margin: 10px 0 0 0%;
}

.range-slider {
    width: 100%;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (83px));
    height: 6px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
    background: #000;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: #000;
}
.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 8px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -moz-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
    background: #000;
}
.range-slider__range:active::-moz-range-thumb {
    background: #000;
}
.range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 70px;
    color: #fff;
    line-height: 18px;
    text-align: center;
    border-radius: 3px;
    background: #000;
    padding: 5px 10px;
    margin-left: 8px;
}
.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #000;
    border-bottom: 7px solid transparent;
    content: "";
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

/* Rnage Slider */

@media (max-width: 678px) {
    .hero__header__font {
        font-size: 1.3rem !important;
    }
    .hero__header {
        font-size: 1.3rem !important;
    }
}
